/* Monserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.hero {
    background-image: url(../img/SectionsBg/section-1\(header\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-wrapper {
    background: rgba(94, 93, 88, 0.6);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__img {
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    width: 60px;
    height: 70px;
    margin-right: 6px;
    background-color: #18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: #fff;
    font-weight: 700;
}

.logo__text {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
}

.color--turquoise {
    color: #18CFAB;
}

.text--bold {
    font-weight: 700;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-right: 21px;
    padding: 45px 0 43px 0;
    border-bottom: 2px solid transparent;
    color: #999;
}

.nav__link:hover {
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
}

.btn--search {
    font-size: 20px;
    color: #999;
}

.btn--load {
    position: relative;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    padding: 12px 20px 10px 50px;
    border-radius: 4px;
}

.btn--load::after,
.btn--load::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 29px;
    display: block;
    height: 16px;
    width: 4px;
    background-color: #fff;
    border-radius: 1px;
}

.btn--load::after {
    transform: rotate(-90deg);
}

.btn--beauty {
    margin-top: 5px;
    font-family: inherit;
    box-sizing: border-box;
    min-width: 170px;
    padding: 16px 15px;
    text-transform: uppercase;
    box-shadow: 0 -5px 0 #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
    border-radius: 4px;
}

.bg--green {
    background-color: #00CBF6;
}

.bg--turquoise {
    background-color: #18CFAB;
}

.content {
    margin-top: 260px;
}

.heading {
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.heading--big {
    font-size: 78px;
}

.heading--medium {
    font-size: 35px;
}

.heading--small {
    font-size: 20px;
    line-height: 24px;
}

.heading--thin {
    font-weight: normal;
    font-size: 34px;
    color: #d4d4d4;
    text-transform: capitalize;
}

.heading--beauty {
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding: 80px 0;
    position: relative;
}

.heading--beauty::before,
.heading--beauty::after {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 1px;
    left: 50%;
    background-color: #18CFAB;
}

.heading--beauty::after {
    top: 140px;
    transform: translateX(-50%);
}

.heading--beauty::before {
    top: 145px;
    transform: translateX(-25%);
}

.text--white {
    color: #fff;
}

.hero__btn {
    padding: 130px 0 230px 0;
}

.content__btn {
    display: flex;
    justify-content: center;
}

.content__btn>.btn:not(:last-child) {
    margin-right: 45px;
}

.section-options {
    padding-top: 8px;
}

.options__list {
    display: flex;
    justify-content: space-between;
}

.option__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #18CFAB;
    padding: 70px 30px;
}

.option__item:nth-child(odd) {
    background-color: #333;
}

.img-wrapper {
    padding: 25px;
}

.services__tabs .tab__item {
    flex: 1;
}

.tabs {
    display: flex;
}

.tab__item {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    padding: 10px 27px;
    border: 1px solid #EDEFEF;
    margin-bottom: 15px;
}

.active {
    position: relative;
    border-color: #18CFAB;
    background-color: #18CFAB;
    color: #fff;
}

.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 15px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #18CFAB;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.tab-content__item {
    margin-top: 15px;
    display: none;
}

.tab-img-wrapper {
    margin-right: 15px;
    flex: 1;
    height: 140px;
}

.tab-content__item>.text {
    flex: 4;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.tab-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visible {
    display: flex;
}

.section-services {
    margin-bottom: 150px;
}

.is-ready {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/SectionsBg/section-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.ready__heading {
    text-transform: uppercase;
    font-size: 40px;
    color: #18CFAB;
}

.ready__text {
    text-align: center;
    line-height: 40px;
    color: #D8D8D8;
}

.ready__btn {
    margin-top: 70px;
}

.amazing-work {
    padding-bottom: 100px;
    background-color: #E9EDEF;
}

.work__tabs .tabs {
    justify-content: center;
    padding: 20px;
}

.work__tabs .tab__item {
    line-height: 42px;
    border: 1px solid #DADADA;
}

.tab__item:hover {
    border: 1px solid #18CFAB;
}

.active--border {
    border: 1px solid #18CFAB !important;
    color: #18cfab;
    box-shadow: inset 0 0 0 1px #18CFAB;
}

.work-imgs-wrapper,
.gallery-imgs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 50px;
}

.img__work {
    display: block;
    width: 100%;
    object-fit: cover;
}

.img-work-wrapper {
    position: relative;
}

.img__work--hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #18CFAB;
    background-color: #E9EDEF;
    visibility: hidden;
    transition: ease-in .2s;
    opacity: 0;
}

.img__link-wrapper {
    display: flex;
}

.img__link:not(:last-child) {
    margin-right: 5px;
}

.img__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #18CFAB;
}

.img__link--fill {
    background-color: #18CFAB;
}

.img-work-wrapper:hover .img__work--hover {
    visibility: visible;
    opacity: 1;
}

.img__heading-main {
    text-align: center;
    padding: 5px 0;
    color: #18CFAB;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

.img__heading {
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #8A8A8A;
}

.hidden {
    display: none;
}

.breaking-news {
    padding-bottom: 120px;
}

.new__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 35px;
}

.new__item {
    text-decoration: none;
}

.new__item:hover .new__date {
    background-color: #18CFAB;
}

.new__item:hover .new__heading {
    color: #18CFAB;
}

.new-img-wrapper {
    position: relative;
}

.new__img {
    display: block;
    width: 100%;
}

.new__date {
    background-color: #203E38;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}

.new__content {
    padding: 0 22px;
}

.new__heading {
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.new__details {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777;
}

.new__author::after {
    content: "|";
    padding: 0 10px;
}

.about-ham {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/SectionsBg/section-3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quotes {
    text-align: center;
    padding: 35px 0;
}

.gallery {
    padding-bottom: 100px;
}

.gallery-imgs {
    column-count: 3;
    column-gap: 25px;
    padding-bottom: 80px;
}

.img__gallery {
    break-inside: avoid;
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.about-ham {
    padding: 50px 0 150px 0;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides-wrapper {
    width: 360px;
    margin: 0 25px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: ease-in-out .3s;
}

.slide__img {
    box-sizing: border-box;
    transition: ease-in-out .3s;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 15px;
    box-shadow: inset 0 0 0 5px rgba(31, 218, 181, .2);
    padding: 5px;
    cursor: pointer;
}

.active--slide {
    transform: translateY(-10px);
}

.btn--slider {
    color: #bbb;
    font-size: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #bbb;
}

.btn--slider:hover {
    color: #fff;
    background-color: #18CFAB;
    border-color: #18CFAB;
}

.slider-content {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.slider-content__item {
    transition: ease-in-out .3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0;
}

.visible--slide {
    visibility: visible;
    opacity: 1;
}

.slider__text {
    padding: 10px 0;
    color: #BBBBBB;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.slider__heading {
    padding: 5px 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}

.slider__heading-name {
    padding: 10px 0;
    color: #BBBBBB;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}

.slider-content__item .slide__img {
    margin-top: 40px;
    width: 145px;
    height: 145px;
}

.footer {
    background-color: #22353F;
    padding: 50px 0;
}

.copyright {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.copy--link {
    color: #18CFAB;
    text-decoration: none;
}